<a href="https://colab.research.google.com/github/romjiik/Big_data_processing_algorithms/blob/main/HW_%E2%84%961_SPARK_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание № 1 (Apache Spark SQL)

**Цель**: Решить 5 задач на SQL с использованием базовых таблиц.

**Инструкции**:
0. Прочитать условия ДЗ
1. Выполнить задание на SQL;
2. Ознакомиться с документацией по SQL: [Ссылка](https://spark.apache.org/docs/latest/sql-ref.html);
3. Создать ноутбук с решениями задач (создайте копию на основе этого шаблона);
4. Каждый запрос должен содержать обязательные комментарии с объяснением логического смысла решения;
5. Скачать ноутбук в формате .ipynb и отправить на адрес электронной почты: ilya+hse@aniskovets.com.

**Оценка и дедлайн**:
- Максимальная оценка - 5 баллов;
- Дедлайн: 24.05.2023 23:59;
- Оценки будут опубликованы после сдачи **всех двух** домашних заданий.

**Таблицы**:
Для выполнения задания предполагается использование следующих таблиц, загруженных в систему в формате CSV с типами полей STRING:

- title_basics_csv
- title_principals_csv
- title_crew_csv
- title_episode_csv
- title_ratings_csv
- title_akas_csv
- name_basics_csv

**Преобразование типов**:
Для преобразования STRING в другой тип используйте конструкцию: 
```sql
CAST (column_name AS TYPE) AS column_name
```

**Пример**
```sql
CREATE TABLE test_table USING PARQUET AS 
  SELECT 
    CAST(averageRating AS decimal(2,1))  AS averageRating 
  FROM test_table_csv 
```

**Все подготовительные этапы по преобразованию типов нужно делать в разделе Initialization. После чего, рекомендуется использовать в запросах таблицы в формате PARQUET**

Перед этим не мешает проверить, что значения влезают в размерности этого типа
Список типов SQL: https://spark.apache.org/docs/latest/sql-ref-datatypes.html 

Домашнее задание необходимо сделать в виде ноутбука. Ноутбук должен запускаться без ошибок.

Во всех задачах ответом должно быть только ОДНО значение (число или строка).

Неправильный ответ - 0 баллов за задачу.
Правильный ответ на все тесты 1 балл за задачу, иначе пропорционально количеству пройденных тестов (количество тестов и какие именно заранее неизвестны).

**ВНИМАНИЕ! К каждому запросу необходимо писать комментарии. Комментарии должны обьяснять логический смысл решения. Отсутствие комментария к решению задачи штраф - оценка за задачу = оценка / 2!**

Всего 5 задач и 5 баллов

**В режиме проверки SQL запросы будут запускаться с любыми параметрами, отличными от тех, что вы выбрали.**

Скрипты не должны зависеть от выбранного вами параметра, а также от регистра строки. Все параметры должны быть изменяемыми (смотрите, пример в Вопросе № 0)

**Тестирование будет проводится с любым значением параметров, в том числе с отсутвующим в датасете, запрос должен выводить правильный результат!**

SQL запрос в ответе всегда должен быть один и параметризирован. Если необходимо пользуйтесь конструкцией WITH name AS () -  пример ниже

После завершения работы нажимайте в меню File/Download/Download ipnb, скачивайте файл и присылайте почтой на ilya+hse@aniskovets.com

Если заметили опечатки или появились вопросы пишите в телеграм: @aigmx

In [ ]:
!pip install pyspark===3.4.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark===3.4.0
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark===3.4.0) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=3bc911c94e071923a7d77193238d9ec448a57b28f739e1062fc1cf2051c21be7
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
!curl -O https://mars.ru77.ru/data/title.basics.tsv.gz
!curl -O https://mars.ru77.ru/data/title.crew.tsv.gz
!curl -O https://mars.ru77.ru/data/title.episode.tsv.gz
!curl -O https://mars.ru77.ru/data/title.principals.tsv.gz
!curl -O https://mars.ru77.ru/data/title.ratings.tsv.gz
!curl -O https://mars.ru77.ru/data/title.akas.tsv.gz
!curl -O https://mars.ru77.ru/data/name.basics.tsv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  132M  100  132M    0     0  12.5M      0  0:00:10  0:00:10 --:--:-- 17.0M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 51.7M  100 51.7M    0     0  8526k      0  0:00:06  0:00:06 --:--:-- 10.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 29.6M  100 29.6M    0     0  6673k      0  0:00:04  0:00:04 --:--:-- 7179k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  342M  100  342M    0     0  14.8M      0  0:00:23  0:00:23 --:--:-- 16.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5526k  100 5526k    0     0  1604k      0  0:00:03  0:00:03 --:--:-- 1603k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  214M  100  214M    0     0  13.9M      0  0:00:15  0:00:15 --:--:-- 16.5M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  202M  100  202M    0     0  13.8M      0  0:00:14  0:00:14 --:--:-- 17.0M

In [ ]:
from pyspark.sql import SparkSession, SQLContext
from pyspark import SparkConf, SparkContext


spark = SparkSession.builder.master("local[2]").config("spark.driver.memory", "8g").appName("vse").enableHiveSupport().getOrCreate()
sql = spark.sql

In [ ]:

title_basics_csv = spark.read.csv("title.basics.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_basics_csv.createOrReplaceTempView("title_basics_csv")


title_principals_csv = spark.read.csv("title.principals.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_principals_csv.createOrReplaceTempView("title_principals_csv")


title_crew_csv = spark.read.csv("title.crew.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_crew_csv.createOrReplaceTempView("title_crew_csv")


title_episode_csv = spark.read.csv("title.episode.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_episode_csv.createOrReplaceTempView("title_episode_csv")


title_ratings_csv = spark.read.csv("title.ratings.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_ratings_csv.createOrReplaceTempView("title_ratings_csv")


title_akas_csv = spark.read.csv("title.akas.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_akas_csv.createOrReplaceTempView("title_akas_csv")


name_basics_csv = spark.read.csv("name.basics.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
name_basics_csv.createOrReplaceTempView("name_basics_csv")

In [ ]:
# Initialization
_ = sql("""DROP TABLE IF EXISTS title_basics""").collect()
#преобразую числовые поля к нужному формату и выделю один жанр для каждой строки
_ = sql("""
CREATE TABLE title_basics STORED AS PARQUET 
SELECT 
  tconst,
  titleType,
  primaryTitle,
  originalTitle,
  cast(isAdult as int) as isAdult,
  cast(startYear as int) as startYear,
  cast(endYear as int) as endYear,
  cast(runtimeMinutes as int) as runtimeMinutes,
  explode(split(genres, '[,]', -1)) as genre
FROM title_basics_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_principals""").collect()
_ = sql("""
CREATE TABLE title_principals STORED AS PARQUET 
SELECT 
  tconst,
  cast(ordering as int) as ordering,
  nconst,
  category,
  job,
  characters
FROM title_principals_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_crew""").collect()

_ = sql("""
CREATE TABLE title_crew STORED AS PARQUET
 SELECT
  tconst,
  directors,
  explode_outer(split(writers, '[,]', -1)) as writer
 FROM title_crew_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_episode""").collect()
_ = sql("""
CREATE TABLE title_episode STORED AS PARQUET 
SELECT 
  tconst,
  parentTconst,
  cast(seasonNumber as int) as seasonNumber,
  cast(episodeNumber as int) as episodeNumber
FROM title_episode_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_ratings""").collect()
_ = sql("""
CREATE TABLE title_ratings STORED AS PARQUET 
SELECT 
  tconst,
  cast(averageRating as decimal(2,1)) as averageRating,
  cast(numVotes as int) as numVotes                    
FROM title_ratings_csv""").collect()
                     
_ = sql("""DROP TABLE IF EXISTS title_akas""").collect()
_ = sql("""
CREATE TABLE title_akas STORED AS PARQUET 
SELECT 
  titleId,
  cast(ordering as decimal(2,1)) as ordering,
  title,
  region,
  language,
  types,
  attributes,
  cast(isOriginalTitle as int) as isOriginalTitle                
FROM title_akas_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS name_basics""").collect()
_ = sql("""
CREATE TABLE name_basics STORED AS PARQUET 
SELECT 
  nconst,
  primaryName,
  cast(birthYear as int) as birthYear,
  cast(deathYear as int) as deathYear,
  primaryProfession,
  knownForTitles              
FROM name_basics_csv""").collect()

In [ ]:
sql("DESCRIBE FORMATTED title_basics").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_principals").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_crew").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_episode").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_ratings").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_akas").show(50, truncate=False)
sql("DESCRIBE FORMATTED name_basics").show(50, truncate=False)

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|titleType                   |string                                                        |null   |
|primaryTitle                |string                                                        |null   |
|originalTitle               |string                                                        |null   |
|isAdult                     |int                                                           |null   |
|startYear                   |int                                                           |null   |
|endYear                     |int                                                           |null   |
|runtimeMinutes              |int                                                           |null   |
|genre                       |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_basics                                                  |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:01:27 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699287]                            |       |
|Location                    |file:/content/spark-warehouse/title_basics                    |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|ordering                    |int                                                           |null   |
|nconst                      |string                                                        |null   |
|category                    |string                                                        |null   |
|job                         |string                                                        |null   |
|characters                  |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_principals                                              |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:02:36 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699356]                            |       |
|Location                    |file:/content/spark-warehouse/title_principals                |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|directors                   |string                                                        |null   |
|writer                      |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_crew                                                    |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:05:26 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699526]                            |       |
|Location                    |file:/content/spark-warehouse/title_crew                      |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|parentTconst                |string                                                        |null   |
|seasonNumber                |int                                                           |null   |
|episodeNumber               |int                                                           |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_episode                                                 |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:05:59 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699559]                            |       |
|Location                    |file:/content/spark-warehouse/title_episode                   |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|averageRating               |decimal(2,1)                                                  |null   |
|numVotes                    |int                                                           |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_ratings                                                 |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:06:16 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699576]                            |       |
|Location                    |file:/content/spark-warehouse/title_ratings                   |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|titleId                     |string                                                        |null   |
|ordering                    |decimal(2,1)                                                  |null   |
|title                       |string                                                        |null   |
|region                      |string                                                        |null   |
|language                    |string                                                        |null   |
|types                       |string                                                        |null   |
|attributes                  |string                                                        |null   |
|isOriginalTitle             |int                                                           |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_akas                                                    |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:06:20 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699580]                            |       |
|Location                    |file:/content/spark-warehouse/title_akas                      |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|nconst                      |string                                                        |null   |
|primaryName                 |string                                                        |null   |
|birthYear                   |int                                                           |null   |
|deathYear                   |int                                                           |null   |
|primaryProfession           |string                                                        |null   |
|knownForTitles              |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |name_basics                                                   |       |
|Owner                       |root                                                          |       |
|Created Time                |Sun May 21 20:08:27 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684699707]                            |       |
|Location                    |file:/content/spark-warehouse/name_basics                     |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

Вопрос №0 (не оценивается, показан, как пример). Сколько произведений имеют средний рейтинг выше заданного {threshold}?

In [ ]:
sql('''select * from title_basics''').show(10, truncate=False)
sql('''select * from title_principals''').show(10, truncate=False)
sql('''select * from title_crew''').show(10, truncate=False)
sql('''select * from title_episode''').show(10, truncate=False)
sql('''select * from title_ratings''').show(10, truncate=False)
sql('''select * from title_akas''').show(10, truncate=False)
sql('''select * from name_basics''').show(10, truncate=False)

+---------+---------+----------------------+----------------------+-------+---------+-------+--------------+-----------+
|tconst   |titleType|primaryTitle          |originalTitle         |isAdult|startYear|endYear|runtimeMinutes|genre      |
+---------+---------+----------------------+----------------------+-------+---------+-------+--------------+-----------+
|tt0000001|short    |Carmencita            |Carmencita            |0      |1894     |null   |1             |Documentary|
|tt0000001|short    |Carmencita            |Carmencita            |0      |1894     |null   |1             |Short      |
|tt0000002|short    |Le clown et ses chiens|Le clown et ses chiens|0      |1892     |null   |5             |Animation  |
|tt0000002|short    |Le clown et ses chiens|Le clown et ses chiens|0      |1892     |null   |5             |Short      |
|tt0000003|short    |Pauvre Pierrot        |Pauvre Pierrot        |0      |1892     |null   |4             |Animation  |
|tt0000003|short    |Pauvre Pierrot        |Pauvre Pierrot        |0      |1892     |null   |4             |Comedy     |
|tt0000003|short    |Pauvre Pierrot        |Pauvre Pierrot        |0      |1892     |null   |4             |Romance    |
|tt0000004|short    |Un bon bock           |Un bon bock           |0      |1892     |null   |12            |Animation  |
|tt0000004|short    |Un bon bock           |Un bon bock           |0      |1892     |null   |12            |Short      |
|tt0000005|short    |Blacksmith Scene      |Blacksmith Scene      |0      |1893     |null   |1             |Comedy     |
+---------+---------+----------------------+----------------------+-------+---------+-------+--------------+-----------+
only showing top 10 rows

+---------+--------+---------+---------------+-----------------------+----------+
|tconst   |ordering|nconst   |category       |job                    |characters|
+---------+--------+---------+---------------+-----------------------+----------+
|tt0000001|1       |nm1588970|self           |null                   |["Self"]  |
|tt0000001|2       |nm0005690|director       |null                   |null      |
|tt0000001|3       |nm0374658|cinematographer|director of photography|null      |
|tt0000002|1       |nm0721526|director       |null                   |null      |
|tt0000002|2       |nm1335271|composer       |null                   |null      |
|tt0000003|1       |nm0721526|director       |null                   |null      |
|tt0000003|2       |nm1770680|producer       |producer               |null      |
|tt0000003|3       |nm1335271|composer       |null                   |null      |
|tt0000003|4       |nm5442200|editor         |null                   |null      |
|tt0000004|1       |nm0721526|director       |null                   |null      |
+---------+--------+---------+---------------+-----------------------+----------+
only showing top 10 rows

+---------+-------------------+---------+
|tconst   |directors          |writer   |
+---------+-------------------+---------+
|tt0000001|nm0005690          |null     |
|tt0000002|nm0721526          |null     |
|tt0000003|nm0721526          |null     |
|tt0000004|nm0721526          |null     |
|tt0000005|nm0005690          |null     |
|tt0000006|nm0005690          |null     |
|tt0000007|nm0005690,nm0374658|null     |
|tt0000008|nm0005690          |null     |
|tt0000009|nm0085156          |nm0085156|
|tt0000010|nm0525910          |null     |
+---------+-------------------+---------+
only showing top 10 rows

+---------+------------+------------+-------------+
|tconst   |parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|tt0041038   |1           |9            |
|tt0042816|tt0989125   |1           |17           |
|tt0042889|tt0989125   |null        |null         |
|tt0043426|tt0040051   |3           |42           |
|tt0043631|tt0989125   |2           |16           |
|tt0043693|tt0989125   |2           |8            |
|tt0043710|tt0989125   |3           |3            |
|tt0044093|tt0959862   |1           |6            |
|tt0044668|tt0044243   |2           |16           |
|tt0044901|tt0989125   |3           |46           |
+---------+------------+------------+-------------+
only showing top 10 rows

+---------+-------------+--------+
|tconst   |averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|5.7          |1697    |
|tt0000002|6.0          |211     |
|tt0000003|6.5          |1451    |
|tt0000004|6.1          |123     |
|tt0000005|6.1          |2248    |
|tt0000006|5.2          |125     |
|tt0000007|5.4          |687     |
|tt0000008|5.4          |1874    |
|tt0000009|6.0          |155     |
|tt0000010|6.9          |6296    |
+---------+-------------+--------+
only showing top 10 rows

+---------+--------+-------------------------+------+--------+-----------+-------------+---------------+
|titleId  |ordering|title                    |region|language|types      |attributes   |isOriginalTitle|
+---------+--------+-------------------------+------+--------+-----------+-------------+---------------+
|tt0000001|1.0     |Карменсіта               |UA    |null    |imdbDisplay|null         |0              |
|tt0000001|2.0     |Carmencita               |DE    |null    |null       |literal title|0              |
|tt0000001|3.0     |Carmencita - spanyol tánc|HU    |null    |imdbDisplay|null         |0              |
|tt0000001|4.0     |Καρμενσίτα               |GR    |null    |imdbDisplay|null         |0              |
|tt0000001|5.0     |Карменсита               |RU    |null    |imdbDisplay|null         |0              |
|tt0000001|6.0     |Carmencita               |US    |null    |null       |null         |0              |
|tt0000001|7.0     |Carmencita               |null  |null    |original   |null         |1              |
|tt0000001|8.0     |カルメンチータ           |JP    |ja      |imdbDisplay|null         |0              |
|tt0000002|1.0     |Le clown et ses chiens   |null  |null    |original   |null         |1              |
|tt0000002|2.0     |A bohóc és kutyái        |HU    |null    |imdbDisplay|null         |0              |
+---------+--------+-------------------------+------+--------+-----------+-------------+---------------+
only showing top 10 rows

+---------+---------------+---------+---------+-----------------------------------+---------------------------------------+
|nconst   |primaryName    |birthYear|deathYear|primaryProfession                  |knownForTitles                         |
+---------+---------------+---------+---------+-----------------------------------+---------------------------------------+
|nm0000001|Fred Astaire   |1899     |1987     |soundtrack,actor,miscellaneous     |tt0031983,tt0072308,tt0050419,tt0053137|
|nm0000002|Lauren Bacall  |1924     |2014     |actress,soundtrack                 |tt0117057,tt0071877,tt0038355,tt0037382|
|nm0000003|Brigitte Bardot|1934     |null     |actress,soundtrack,music_department|tt0057345,tt0054452,tt0049189,tt0056404|
|nm0000004|John Belushi   |1949     |1982     |actor,soundtrack,writer            |tt0072562,tt0080455,tt0078723,tt0077975|
|nm0000005|Ingmar Bergman |1918     |2007     |writer,director,actor              |tt0050976,tt0050986,tt0069467,tt0060827|
|nm0000006|Ingrid Bergman |1915     |1982     |actress,soundtrack,producer        |tt0038109,tt0077711,tt0036855,tt0034583|
|nm0000007|Humphrey Bogart|1899     |1957     |actor,soundtrack,producer          |tt0043265,tt0042593,tt0034583,tt0033870|
|nm0000008|Marlon Brando  |1924     |2004     |actor,soundtrack,director          |tt0078788,tt0070849,tt0068646,tt0047296|
|nm0000009|Richard Burton |1925     |1984     |actor,soundtrack,producer          |tt0087803,tt0057877,tt0059749,tt0061184|
|nm0000010|James Cagney   |1899     |1986     |actor,soundtrack,director          |tt0035575,tt0042041,tt0029870,tt0031867|
+---------+---------------+---------+---------+-----------------------------------+---------------------------------------+
only showing top 10 rows

In [ ]:
query_0 = """
/*
  Чтобы посчитать количество произведений находим все рейтинги больше, чем заданный порог.
  Так как надо найти все произведения, а не только фильмы, нам не нужно делать фильтр по типу произведения titleType
*/
SELECT 
  COUNT(tconst) as cnt_above_threshold
FROM  title_ratings
WHERE averageRating > {threshold};
"""
sql(query_0, threshold=5.0).show(truncate=False)
#1029097

+-------------------+
|cnt_above_threshold|
+-------------------+
|1025071            |
+-------------------+

Вопрос №1. Найдите среднюю продолжительность (title_basics:runtimeMinutes) фильмов (title_basics:titleType=movie) определенного жанра {genre}. 

Среднюю продолжительность надо рассчитать только для тех фильмов, где title_basics:runtimeMinutes не равен NULL.

In [ ]:
query_1 = """
/*
  Чтобы посчитать среднее время, нужно использовать аггр функцию mean() с условиями, что тип - фильм, время - не null и определенный жанр
*/
select
  mean(runtimeMinutes) as MeanRuntimeMinutes
from 
  title_basics
where 1 = 1
  and titleType = 'movie'
  and genre = {genre}
  and runtimeMinutes is not null
"""
sql(query_1, genre='Drama').show(10, truncate=False)

+------------------+
|MeanRuntimeMinutes|
+------------------+
|96.39210319748258 |
+------------------+

Вопрос №2. Сколько фильмов (title_basics:titleType=movie) определенного жанра (title_basics:genres) {genre} было выпущено в определенный год (title_basics:startYear) {year}?

In [ ]:
query_2 = """
/*
  считаем кол-во уникальных(потому что я сделал explode по жанру) идентификаторов с условиями на тип тайтла, жанр и год
*/
select
  count(distinct tconst) as CountFilms
from 
  title_basics
where 1 = 1
  and titleType = 'movie'
  and genre = {genre}
  and startYear = {year}
"""
sql(query_2, genre='Action', year=2022).show(truncate=False)

+----------+
|CountFilms|
+----------+
|219       |
+----------+

Вопрос №3. Сколько фильмов определенного жанра (title_basics:genres) {genre}, в которых снялся конкретный актер (name_basics:primaryName) {actor}, имеют средний рейтинг (title_ratings:averageRating) выше заданного порога {threshold}?

In [ ]:
query_30 = """
/*
  Это проверка, что нет потерь в данных. То есть айди тайтлов, которые есть в title_basics есть и в других используемых таблицах
*/
with pre as (
select
  case
    when t2.tconst is null then 'noInfo'
    else t2.tconst
  end as tconst
from
  title_basics t1
  left join title_ratings t2 
    on t1.tconst = t2.tconst
  left join title_principals t3
    on t1.tconst = t3.tconst
  left join name_basics t4
    on t3.nconst = t4.nconst
group by 1
)
select count(*) from pre where tconst is null
"""
sql(query_30).show(truncate=False)

+--------+
|count(1)|
+--------+
|0       |
+--------+

In [ ]:
query_3 = """
/*
  Чтобы узнать рейтинг надо к title_basics приджойнить таблицу title_ratings по условию равенста айди тайтла. Чтобы узнать имя актера надо к title_basics приджойнить title_principals по айди тайтла
  и достать из этой таблицы айди актера, дальше по этому айди надо приджойнить таблицу name_basics и оттуда достать имя актера. Я проверил, что все тайтлы, которые есть в title_basics есть в title_principals,
  поэтому потерь быть не должно. Также ставим фильтр на тип тайтла, так как по условию надо только фильмы
*/
select
  count(distinct t1.tconst) as CountFilms
from
  title_basics t1
  left join title_ratings t2 --достаю рейтинг
    on t1.tconst = t2.tconst
  left join title_principals t3 --достаю айди человека
    on t1.tconst = t3.tconst
  left join name_basics t4 --по айди человека нахожу его имя
    on t3.nconst = t4.nconst
where 1 = 1
  and titleType = 'movie'
  and t1.genre = {genre}
  and t4.primaryName = {actor}
  and t2.averageRating > {threshold} 
"""
sql(query_3, genre='Comedy', actor='James Cagney', threshold=5.3).show(truncate=False)

+----------+
|CountFilms|
+----------+
|20        |
+----------+

Вопрос №4. Сколько телесериалов (title_basics:titleType=tvSeries) в определенном жанре (title_basics:genres) {genre} имеют более определенного количества (title_episode:seasonNumber > {seasons})?

In [ ]:
query_4 = """
/*
 К таблице title_basics джойню таблицу title_episode по айди тайтла(нужно заметить, что айди тайтла в этой таблице это parentTconst). Выбираю сериалы, определенного жанра и с определенным количество сезонов
*/
select
  count(distinct t1.tconst) as countSerials
from
  title_basics t1
  left join title_episode t2
    on t1.tconst = t2.parentTconst
where 1 = 1
  and titleType = 'tvSeries'
  and genre = {genre}
  and seasonNumber > {seasons}
"""
sql(query_4, genre='Comedy', seasons=3).show(truncate=False)

+------------+
|countSerials|
+------------+
|3546        |
+------------+

Вопрос № 5. Сколько фильмов (title_basics:titleType=movie)  создал конкретный сценарист (title_crew:writers, name_basics:primaryName) {writer} в определенном жанре (title_basics:genres) {genre}?

In [ ]:
query_5  = """
/*
  Для начала к title_basics джойню таблицу title_crew. Оттуда я узнаю айди сценаристов. Дальше джойню таблицу name_basics по айди сценариста. И ставлю фильтр на имя сценариста и жанр. Также выбираю в title_basics
  только фильмы
*/
select
  count(distinct t1.tconst)
from
  title_basics t1
  left join title_crew t2 --отсюда достаю айди сценриста
    on t1.tconst = t2.tconst
  left join name_basics t3 --отсюда достаю имя сценариста
    on t2.writer = t3.nconst
where 1 = 1
  and titleType = 'movie'
  and primaryName = {writer}
  and genre = {genre}
"""
sql(query_5, genre='Drama', writer='Federico Fellini').show(truncate=False)

+----------------------+
|count(DISTINCT tconst)|
+----------------------+
|38                    |
+----------------------+

In [ ]:
# PLEASE DO NOT REMOVE THIS CELL

# Generate answers
for n in range(1, 6):
  print(f"-- answer {n}\n " + globals()[f"query_{n}"] + ";\n")

-- answer 1

/*
  Чтобы посчитать среднее время, нужно использовать аггр функцию mean() с условиями, что тип - фильм, время - не null и определенный жанр
*/
select
  mean(runtimeMinutes) as MeanRuntimeMinutes
from
  title_basics
where 1 = 1
  and titleType = 'movie'
  and genre = {genre}
  and runtimeMinutes is not null
;

-- answer 2

/*
  считаем кол-во уникальных(потому что я сделал explode по жанру) идентификаторов с условиями на тип тайтла, жанр и год
*/
select
  count(distinct tconst) as CountFilms
from
  title_basics
where 1 = 1
  and titleType = 'movie'
  and genre = {genre}
  and startYear = {year}
;

-- answer 3

/*
  Чтобы узнать рейтинг надо к title_basics приджойнить таблицу title_ratings по условию равенста айди тайтла. Чтобы узнать имя актера надо к title_basics приджойнить title_principals по айди тайтла
  и достать из этой таблицы айди актера, дальше по этому айди надо приджойнить таблицу name_basics и оттуда достать имя актера. Я проверил, что все тайтлы, которые есть в title_basics есть в title_principals,
  поэтому потерь быть не должно. Также ставим фильтр на тип тайтла, так как по условию надо только фильмы
*/
select
  count(distinct t1.tconst) as CountFilms
from
  title_basics t1
  left join title_ratings t2 --достаю рейтинг
    on t1.tconst = t2.tconst
  left join title_principals t3 --достаю айди человека
    on t1.tconst = t3.tconst
  left join name_basics t4 --по айди человека нахожу его имя
    on t3.nconst = t4.nconst
where 1 = 1
  and titleType = 'movie'
  and t1.genre = {genre}
  and t4.primaryName = {actor}
  and t2.averageRating > {threshold}
;

-- answer 4

/*
 К таблице title_basics джойню таблицу title_episode по айди тайтла(нужно заметить, что айди тайтла в этой таблице это parentTconst). Выбираю сериалы, определенного жанра и с определенным количество сезонов
*/
select
  count(distinct t1.tconst) as countSerials
from
  title_basics t1
  left join title_episode t2
    on t1.tconst = t2.parentTconst
where 1 = 1
  and titleType = 'tvSeries'
  and genre = {genre}
  and seasonNumber > {seasons}
;

-- answer 5

/*
  Для начала к title_basics джойню таблицу title_crew. Оттуда я узнаю айди сценаристов. Дальше джойню таблицу name_basics по айди сценариста. И ставлю фильтр на имя сценариста и жанр. Также выбираю в title_basics
  только фильмы
*/
select
  count(distinct t1.tconst)
from
  title_basics t1
  left join title_crew t2 --отсюда достаю айди сценриста
    on t1.tconst = t2.tconst
  left join name_basics t3 --отсюда достаю имя сценриста
    on t2.writer = t3.nconst
where 1 = 1
  and titleType = 'movie'
  and primaryName = {writer}
  and genre = {genre}
;